:root{
    --wheat: rgb(252, 243, 200);
    --leather: rgb(129, 45, 1);
    --bronze: rgb(205, 127, 50);
    --blue: rgb(202, 214, 248);
}

h1,h2{
    font-family: "Bona Nova SC", serif;
}

a,p{
    font-family: "Maname", serif;
}

header{
    background-color: var(--wheat);
}

header h1{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: var(--leather);
    color:var(--wheat);
    text-align: center;
    max-width: 300px;
}

nav{
    display:flex;
    margin: auto;
    max-width: 600px;
    background-color: var(--bronze);
}

nav a{
    width: 1fr;
    text-align: center;
    border-style: solid;
    border-width: .1rem;
    border-color: var(--leather);
    display: block;
    padding: .3rem;
    padding-top: 0px;
    margin: .6rem auto;
    background-color: var(--leather);
    color:var(--wheat)
}

main{
    background-color: var(--wheat);
    padding: 2rem;
    min-height: 25rem;
}

#setting-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    margin: auto;
    width: 90%;
    height: auto;
}

.setting-card{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--blue);
    width: 20rem;
    padding: 1rem;
    border-style: double;
    border-width: 10px;
    border-color: var(--leather);
    margin: auto;
    margin-bottom: 2rem;
}

.setting-card img{
    display:block;
    margin: auto;
    margin-right: 0;
    max-height: 5rem;
    height: auto;
}

.setting-card a{
    font-size: 2rem;
    margin: auto;
    margin-left: 1rem;
    color: var(--leather);
}

footer{
    text-align: center;
    background-color: var(--leather);
    color: var(--wheat);
    padding: 2rem;
}